<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cy's immersive tokens</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash">
        {% for message in messages %}
        <span style="font-weight: bold;">{{ message }}</span>
        click to dismiss
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <link rel="stylesheet" href="/style.css">
    <script defer src="/js/global.js"></script>
</head>

{% block content %}
{% endblock %}

</html>