{% extends "base.html" %}
{% block content %}
<div class="content" style="width: 90%; margin: 0 auto;">
    <div class = "center">
        <h1>Ever wanted to make your tokens extra immersive?</h1>
        <h4>Don't lament over the price of photoshop, Cy's Immerside Tokens to the rescue!</h4>
        <div class="relative">
            <div class="flex-row flex-center">
                <img src="images/flaskLayered.png" style="width: 10%;" alt="">
                <img src="images/flaskShadow.png" style="width: 10%;" alt="">
                <img src="images/mysteryJar.png" style="width: 10%;" alt="">
                <img src="images/fayStone.png" style="width: 10%;" alt="">
                <img src="images/stoneLayered.png" style="width: 10%;" alt="">
                <img src="images/stoneGlow.png" style="width: 10%;" alt="">
                
            </div>
            <h1>The same tokens, in all the colors of the rainbow!</h1>
        </div>
        <div class="flex-row flex-center flex-top-uneven">
            <img src="images/layerDisplay.png" alt="" style="width: 20%;">
            <div style="width:70%;text-align: justify;">
                <h2>Easy layering and costum token creation!</h2>
                Dont want to "immersify" your tokens? No problem! <span class = "br"></span>
                My editer also has a perfect usecase for the one who just wants to create lots of costum tokens, have
                all the backgrounds, content, and broders? Simply import those parts and easily mix and match as you see
                fit!
                No need to open cumbersome image editing software! I wrote code, that will do all that for you!
                <h2>My story</h2>
                I play DnD and I am a DM! <span class = "br"></span>
                My favorite way of enjoying DnD and other PnP rpgs is through the use of virtual table-tops, my favorite
                is Foundry VTT!
                It offers a million things in ways of making the game more accessable for new players (doing all the
                math for you) and automates tedious bookkeeping that would otherwise slow the game down!
                <span class = "br"></span>
                For that reason, I want to fully utilize the options that a virtual enviroment gives me, I want to add
                as much immersion as I possibly can! <span class = "br"></span>
                So I spend countless hours finding maps, tokens, plug-ins, and sounds to up my game and make it an
                experience my players will cherish.
                Thats how this projects started! <span class = "br"></span>
                I wanted tokens that are easy and fast to make, with a wide option for cotumizability, so that I can
                easily make unique tokens for any given situation.
                My players find a ginat emerald, but all I have are generic gem tokens?
                1 minute tops in the editor, and I have a green square cut emerald (like from minecraft) to put in my
                players' inventory! <span class = "br"></span>
                While you might not think these things are that important, I do, and I wish to share my little creation
                with the world! So now it is your problem!
                <span class = "br"></span>
                <h2>My pay-to-use tokens</h2>
                I have personally drawn a lot of tokens to use with this editor, and some of them you can acess for
                free. <span class = "br"></span>
                However, the bulk of them are locked behind a meager play-wall.If you wish to have a liberary of tokens,
                with setting already apllied to make them easy to use in the editor. <span class = "br"></span>Then throw a few dollerinos my way,
                and support my dinners, any work I do to perfect the editor, as well as the server cost to keep this
                site up!
            </div>
        </div>
        <div style="height: 4vh;"></div>
    </div>
</div class="content">
{% endblock %}