* {
  font-family: "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  position: relative;
  background-color: #535462;
  color: #e3f3ff;
}

.click-to-display {
  cursor: pointer;
}

.display {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transition: opacity 200ms linear, transform 200ms linear;
  -ms-transition: opacity 200ms linear, transform 200ms linear;
  transition: opacity 200ms linear, transform 200ms linear;
}

.hide {
  opacity: 0;
  transform: translate(0, -40px);
}

.hidden {
  display: none !important;
}

input[type=radio] {
  width: 15px;
}

input[type=checkbox] {
  width: 15px;
}

input,
button,
input > button {
  padding: 2px 5px;
  accent-color: #8dffff;
  border-radius: 5px;
  font-size: 15px;
  border-style: solid;
  border-width: 2px;
}
input[type=color],
button[type=color],
input > button[type=color] {
  padding: 3px 3px;
}
input:hover,
button:hover,
input > button:hover {
  background-color: #d38dff;
  backface-visibility: hidden;
  border-color: #d38dff;
}
input:disabled,
button:disabled,
input > button:disabled {
  background-color: #535462;
  border-color: #403e49;
}

.collapsed {
  background-color: transparent !important;
  transform: translate(0, 0) scale(0.9) rotate3d(0, 0, 0, 0deg) !important;
  border-radius: 30px;
  cursor: pointer;
}

.timer50ms {
  -webkit-transition: all 50ms linear;
  -ms-transition: all 50ms linear;
  transition: all 50ms linear;
}

.timer400ms {
  -webkit-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.tutorial-image {
  background-color: rgba(201, 255, 255, 0.0901960784);
  border-radius: 30px;
  right: 50%;
  top: 5vh;
  cursor: pointer;
  position: fixed !important;
}
.tutorial-image:nth-child(1) {
  transform: translate(0, -30%) scale(0.6) rotate3d(-1, -0.3, -0.3, 80deg);
}
.tutorial-image:nth-child(1):hover {
  transform: translate(0, -30%) scale(0.7) rotate3d(-1, -0.3, -0.3, 80deg);
  background-color: rgba(205, 255, 255, 0.2549019608);
}
.tutorial-image:nth-child(2) {
  transform: translate(0, -18%) scale(0.6) rotate3d(-1, -0.3, -0.3, 80deg);
}
.tutorial-image:nth-child(2):hover {
  transform: translate(0, -18%) scale(0.7) rotate3d(-1, -0.3, -0.3, 80deg);
  background-color: rgba(205, 255, 255, 0.2549019608);
}
.tutorial-image:nth-child(3) {
  transform: translate(0, -5%) scale(0.6) rotate3d(-1, -0.3, -0.3, 80deg);
}
.tutorial-image:nth-child(3):hover {
  transform: translate(0, -5%) scale(0.7) rotate3d(-1, -0.3, -0.3, 80deg);
  background-color: rgba(205, 255, 255, 0.2549019608);
}
.tutorial-image:nth-child(4) {
  transform: translate(0, 8%) scale(0.6) rotate3d(-1, -0.3, -0.3, 80deg);
}
.tutorial-image:nth-child(4):hover {
  transform: translate(0, 8%) scale(0.7) rotate3d(-1, -0.3, -0.3, 80deg);
  background-color: rgba(205, 255, 255, 0.2549019608);
}
.tutorial-image:nth-child(5) {
  transform: translate(0, 20%) scale(0.6) rotate3d(-1, -0.3, -0.3, 80deg);
}
.tutorial-image:nth-child(5):hover {
  transform: translate(0, 20%) scale(0.7) rotate3d(-1, -0.3, -0.3, 80deg);
  background-color: rgba(205, 255, 255, 0.2549019608);
}
.tutorial-image:nth-child(6) {
  transform: translate(0, 30%) scale(0.6) rotate3d(-1, -0.3, -0.3, 80deg);
}
.tutorial-image:nth-child(6):hover {
  transform: translate(0, 30%) scale(0.7) rotate3d(-1, -0.3, -0.3, 80deg);
  background-color: rgba(205, 255, 255, 0.2549019608);
}

.burger {
  width: 10%;
  padding: 10px;
  position: relative;
}

.burger-button {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background-color: #d38dff;
  z-index: 2;
  color: #161119;
  font-weight: bold;
}
.burger-button:hover {
  background-color: #e3f3ff;
}

.burger-content {
  position: absolute;
  width: 100%;
  top: 55px;
  z-index: 1;
}
.burger-content ul {
  border-radius: 10px;
  background-color: #b1abb5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.burger-content a {
  color: #161119;
  text-decoration: none;
  width: 100%;
}
.burger-content a:first-child li {
  border-radius: 10px 10px 0 0;
}
.burger-content a:last-child li {
  border-radius: 0 0 10px 10px;
}
.burger-content a li {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}
.burger-content a:hover {
  color: #d38dff;
}
.burger-content a:hover li {
  background-color: #161119;
  font-weight: bold;
}

.text-box {
  width: 45%;
  margin: 0 auto;
  text-align: justify;
}
.text-box > div {
  height: 80vh;
}

hr {
  width: 100%;
  color: #d38dff;
  border-style: solid;
}

.hv {
  background-color: #403e49;
  width: 10px;
  height: 90vh;
  position: fixed;
  left: 50%;
}

form {
  width: 90%;
  margin: 0 auto;
}

.inner-image-tutorial {
  position: absolute;
}

.inner-image {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.br {
  display: block;
  margin-bottom: 1em;
}

.options {
  margin-bottom: 5px;
}

.images-wrap {
  position: relative;
  width: 45%;
  margin: 0 auto;
  pointer-events: none;
}

.tutorial {
  display: flex;
  flex-direction: column;
  pointer-events: all !important;
}

br {
  margin: 10px 10px;
}

.layer-control {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 5px;
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.layer-control > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.layer-control > div .small {
  width: 15%;
  display: flex;
  justify-content: center;
}
.layer-control > div .mid {
  width: 25%;
  word-break: break-word;
}
.layer-control > div .large {
  width: 45%;
  display: flex;
  justify-content: center;
}

.flash {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transition: opacity 200ms linear, transform 200ms linear;
  -ms-transition: opacity 200ms linear, transform 200ms linear;
  transition: opacity 200ms linear, transform 200ms linear;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  background-color: #d38dff;
  color: #161119;
  padding: 10px;
  top: 10vh;
  left: 0;
  right: 0;
}

.end-flash {
  opacity: 0;
  transform: translate(0, -40px);
}

footer {
  color: #e3f3ff;
  background-color: #403e49;
  padding: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  position: fixed;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2000000;
}

a {
  color: #d38dff;
}

.editorChooser {
  position: absolute;
  background-color: rgba(201, 255, 255, 0.0901960784);
}
.editorChooser:hover {
  background-color: rgba(205, 255, 255, 0.2549019608);
}

header {
  color: #e3f3ff;
  position: fixed;
  z-index: 2000000;
  margin: 0;
  background-color: #403e49;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ToS {
  background-color: #e3f3ff;
  color: #161119;
  text-align: justify;
  padding: 20px;
  border-radius: 10px;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ToS > span {
  white-space: pre-wrap;
}
.ToS > button {
  margin: 5px 0;
  width: 100%;
  background-color: #8dffff;
}
.ToS > button:hover {
  background-color: #d38dff;
}

.signup-wrap {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.signup-wrap > label {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 5px 30px;
}
.signup-wrap > button {
  margin: 20px;
}

.loading {
  pointer-events: none;
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  gap: 5px;
  font-weight: bold;
  top: 80px;
}
.loading .dot {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background-color: #d38dff;
  animation: load 2s linear infinite;
}
.loading .dot:first-child, .loading .dot:last-child {
  animation-delay: 0.5s;
}
.loading .dot:nth-child(2), .loading .dot:nth-child(4) {
  animation-delay: 0.25s;
}
@keyframes load {
  0% {
    width: 15px;
    height: 15px;
    background-color: #d38dff;
  }
  50% {
    width: 15%;
    height: 10px;
    background-color: #8dffff;
  }
  100% {
    width: 15px;
    height: 15px;
    background-color: #d38dff;
  }
}

/*# sourceMappingURL=style.css.map */
