// npm run watch

$white : #e3f3ff;
$black:#161119;
$darkest:#403e49;
$dark:#535462;
$light:#b1abb5;
$accent:#d38dff;


* {
    font-family: 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body{
    position: relative;
    background-color: $dark;
    color: $white;
}

.click-to-display {
    cursor: pointer;
}

.display {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transition: opacity 200ms linear, transform 200ms linear;
    -ms-transition: opacity 200ms linear, transform 200ms linear;
    transition: opacity 200ms linear, transform 200ms linear;
}

.hide {
    opacity: 0;
    transform: translate(0, -40px);
}

.burger {
    width: 10%;
    padding: 10px;
    position: relative;
}

.burger-button {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: $accent;
    z-index: 10;
    color: $black;
    font-weight: bold;
    &:hover {
        background-color: $white;
    }
}

.burger-content {
    position:absolute;
    width: 100%;
    top: 55px;
    ul {
        border-radius: 10px;
        background-color: $light;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        &:first-child{
            border-radius: 0 10px 0 10px;
        }
    }

    li {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        &:hover {
            background-color: $black;
            font-weight: bold;
            a {
                color: $accent;
            }
        }
        a {
            color: $black;
            text-decoration: none;
        }
    }
}

hr {
    width: 100%;
    color: $accent;
    border-style: solid;
}

form {
    width: 90%;
    margin: 0 auto;
}

.inner-image {
    position: absolute;
}

.image {
    width: 100%;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}

.options {
    margin-bottom: 5px;
}

.images-wrap {
    position: relative;
    width: 50%;
    pointer-events: none;
}

.layer-control {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 5px;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    >div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .small {
            width: 15%;
            display: flex;
            justify-content: center;
        }
        .mid {
            width: 25%;
            word-break: break-word;
        }
        .large {
            width: 45%;
            display: flex;
            justify-content: center;
        }
    }
}


.hidden {
    display: none;
}

.flash {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transition: opacity 200ms linear, transform 200ms linear;
    -ms-transition: opacity 200ms linear, transform 200ms linear;
    transition: opacity 200ms linear, transform 200ms linear;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
    background-color: $accent;
    color: $black;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}

.end-flash {
    opacity: 0;
    transform: translate(0, -40px);
}

footer {
    color: $white;
    background-color: $darkest;
    padding: 0;
    bottom:0;
    right:0;
    left:0;
    margin: 0;
    position: fixed;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    a {
        color: $accent;
    }
}

header {
    color: $white;
    position: fixed;
    margin: 0;
    background-color: $darkest;
    top:0;
    right:0;
    left:0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.devider {
    height: 100px;
}